<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Employees</title>
    <!-- BootStrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- FontAwesome -->
    <link
      href="https://use.fontawesome.com/releases/v7.1.0/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- HEADER -->
    <div
      th:replace="~{fragments/header :: header(title = 'Department List & Search')}"
    ></div>

    <!-- Button Create Dept -->
    <div class="container my-2">
      <div class="row">
        <div class="col text-center">
          <a th:href="@{/dept/createDept}" class="btn btn-primary"
            >Create New Dept</a
          >
        </div>
      </div>
    </div>

    <!-- Mensaje -->
    <div class="container mb-2">
      <div class="row">
        <h3
          th:if="${msg != null}"
          class="alert alert-success text-center"
          th:text="${msg}"
        ></h3>
      </div>
    </div>

    <!-- Buscador -->
    <div class="container">
      <div class="row my-2">
        <form
          th:action="@{/dept/list}"
          method="GET"
          class="row g-3 align-items-center justify-content-center"
        >
          <div class="col-auto">
            <select name="type" class="form-select">
              <option
                value="deptno"
                th:selected="${tipoSeleccionado == 'deptno'}"
              >
                Deptno
              </option>
              <option
                value="dname"
                th:selected="${tipoSeleccionado == 'dname'}"
                >
                Dname
              </option>
              <option
                value="loc"
                th:selected="${tipoSeleccionado == 'loc'}"
                >
                Loc
              </option>
            </select>
          </div>
          <div class="col-auto">
            <input
              type="text"
              name="value"
              class="form-control"
              placeholder="keyword..."
              th:value="${valorBuscado}"
            />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
            <a th:href="@{/dept/list}" class="btn btn-secondary">Clean</a>
          </div>
        </form>
      </div>
    </div>

    <!-- Tabla resultados -->
    <div class="container">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr class="table-primary">
              <th>DPTNO</th>
              <th>DNAME</th>
              <th>LOC</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="dept : ${deptPage.content}">
              <td th:text="${dept.deptno}"></td>
              <td th:text="${dept.dname}"></td>
              <td th:text="${dept.loc != null ? dept.loc : 'N/A'}"></td>
              <!-- ACTIONS -->
              <td>
                <!-- Update -->
                <a
                  th:href="@{/dept/edit/{id} (id=${dept.deptno})}"
                  class="text-warning"
                  ><i class="fa-regular fa-pen-to-square"></i
                ></a>
                <!-- Delete -->
                <a
                  th:href="@{/dept/delete/{id} (id=${dept.deptno})}"
                  onclick="return confirm('¿Estas seguro?')"
                  class="text-danger"
                  ><i class="fa-solid fa-ban"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Pageable -->
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation" th:if="${deptPage.totalPages > 0}">
            <ul class="pagination justify-content-center">
              <li
                class="page-item"
                th:classappend="${deptPage.first} ? 'disabled'"
              >
                <a
                  class="page-link"
                  th:href="@{/emp/list(page=${deptPage.number - 1}, size=${deptPage.size})}"
                >
                  Anterior
                </a>
              </li>

              <li class="page-item disabled">
                <a class="page-link" href="#">
                  Página <span th:text="${deptPage.number + 1}"></span> de
                  <span th:text="${deptPage.totalPages}"></span>
                </a>
              </li>

              <li
                class="page-item"
                th:classappend="${deptPage.last} ? 'disabled'"
              >
                <a
                  class="page-link"
                  th:href="@{/dept/list(page=${deptPage.number + 1}, size=${deptPage.size})}"
                >
                  Siguiente
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- BootStrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
